# Ignore all unrelated files in this directory
*
# Allow only the book files
!README.md
!antonimus.md
!antonimus-book.html
!antonimus-book.json
!mkdocs.yml
!SUMMARY.md
!docs/
!docs/index.html
!docs/README.md
!docs/css/
!docs/css/styles.css
!docs/js/
!docs/js/icons.js
!docs/js/*.js
!docs/css/quiz.css
!docs/icons/
!docs/icons/*
!docs/sw.js
!docs/manifest.json
!docs/sitemap.xml
!docs/robots.txt
!docs/.well-known/
!docs/.well-known/security.txt
!.github/
!.github/dependabot.yml
!.github/workflows/
!.github/workflows/codeql-analysis.yml
!.github/workflows/security-audit.yml
!SECURITY.md
!LICENSE
!.gitignore
